$primary: #6c9335;
$primary-light: #6c93354d;

$background: #F7F7FC;
$input-background: #EFF0F6;
$line: #D9DBE9;
$placeholder: #A0A3BD;
$label: #6E7191;
$body: #4E4B66;
$off-white: #FCFCFC;
$title-active: #14142B;
$inactive: #9ca3af;
$inactive-700: #5d5f68;


$text-opacity-high: 87%;
$text-opacity-medium: 60%;
$text-opacity-low: 38%;

$desktop-width: 60%;
$medium-width: 80%;
$mobile-width: 95%;

$desktop-size: 1400px;
$medium-size: 1000px;
$small-size: 500px;
$mobile-size: 600px;


$grid-spacing: 20px;

