<div id="main-container" *ngIf="isActive">
  <div id="logo-container">
    <img src="assets/logo.svg" />
    <p>Beescales</p>
  </div>
  <div id="tab-container">
    <div routerLink="/dashboard" [class.selected]="isRoute('/dashboard')">
      <p>Dashboard</p>
    </div>
    <div routerLink="/settings" *ngIf="isLoggedIn" [class.selected]="isRoute('/settings')">
      <p>Einstellungen</p>
    </div>
  </div>
  <button *ngIf="isLoggedIn" (click)="logout()" mat-button>Abmelden</button>
  <button *ngIf="!isLoggedIn" (click)="login()" mat-button>Einloggen</button>
</div>
